@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root{
  --background: #fafafa;
  --grey: #a3a5ae;
  --dark-grey:#4c4e61;
  
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);  
}
